<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<!-- bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <title>API_PALABRAS_PANAMEÑAS</title>

</head>
<body style="background-color: rgb(78, 78, 78);color: white;">
  <!--BODY-->
  <h1 style="font-weight: 900;padding-left: .5rem;">REST API</h1>
  <div class="container m-5">

    <div>
        <a href="/palabra">
        <button   class="btn btn-secondary ml-2 mb-2">ver todo</button>
    </a>

    <table class="table table-striped table-dark">
      <thead >
        <tr>
          <th scope="col">#</th>
          <th scope="col">Palabra</th>
          <th scope="col">Definicion</th>
        </tr>
      </thead>
      <tbody>
        {%for i in tabla%}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{i.palabra}}</td>
          <td>{{i.definicion}}</td>
          <td><a href=http://127.0.0.1:5000/palabra/{{i.palabra}}><button class="btn btn-secondary ml-2 mb-2">ver</button></a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

  
    <div >
    <h5>FUNCIONES DE LA REST API</h5>
    </br>

    <h6>POST</h6>
    <a href="http://127.0.0.1:5000/palabra/myPalabra?definicion=mydefinicion2">http://127.0.0.1:5000/palabra/Palabra?definicion=definicion2</a>

    <h6>PUT</h6>
    <a href="http://127.0.0.1:5000/palabra/myPalabra?definicion=changed&nuevaPalabra=changed">http://127.0.0.1:5000/palabra/Palabra?definicion=changed&nuevaPalabra=changed</a>
    <h6>DELETE</h6>
    <a href="http://127.0.0.1:5000//myPalabra">http://127.0.0.1:5000//Palabra</a>
  </div>      
    
</div>
<!--END BODY-->
<div style="position: absolute;bottom: 0;">
    <nav class="navbar  ">
        <a class="navbar-brand" href="/">
          <span style="font-weight: 800;">PROGRAMCION 4</span> Modulo 7
        </a>
      </nav>  
</div>
</body>